# Entorno de la aplicación (development / production / testing)
APP_ENV=development
PROJECT_NAME="SmartWallet AI"

# Seguridad y Autenticación JWT
SECRET_KEY=clave-secreta

# Base de Datos (PostgreSQL + pgvector)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/smart_wallet

# Inteligencia Artificial (Agnóstico de Proveedor)
LLM_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
LLM_API_KEY=llm-api-key
LLM_MODEL=gemini-2.5-flash
EMBEDDING_MODEL=gemini-embedding-001

 # Observabilidad (OpenTelemetry -> Tempo)
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"